body{
    background-color:darkred;
    color:blanchedalmond
}

h1, h2{
    text-align: center;
}

h1{
    color:rgb(132, 196, 206);
    border: solid BLACK 3px;
    
}

h2{
    color:lightseagreen;
    font-family: 'BhuTuka Expanded One', cursive;
}

a{
    color:aqua;
}

.center{
    text-align: center;
}

img{
    border: solid BLACK 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}