body{
    background-color:darkred;
    color:blanchedalmond
}

h1, h2, .center{
    text-align: center;
}

h1{
    color:rgb(132, 196, 206);
    
}

h2{
    color:lightseagreen;
    font-family: 'BhuTuka Expanded One', cursive;
}

a{
    color:aqua;
}